.pdf_file_content {
  position: relative;
  min-height: 80vh;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100%;
    background-size: cover;
    max-height: 500px;
    background-image: url("../media/logo/logo.png");
    background-size: 100%;
    opacity: 0.1;
  }
  .file_title {
    width: 200px;
    height: 100%;
    border: 1px solid #000;
    margin-block: 10px;
    color: var(--main_theme_clr);
    font-size: 20px;
  }
  .qrcode{
    width: 800px;
    min-height: 70vh;
  }
  .v-data-table {
    .v-data-table__wrapper {
      table {
        thead {
            border: 1px solid #000;
          background-color: var(--main_theme_clr);
          tr {
            th {
              // text-align: center;
              color: var(--white_clr);
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
